html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

a { text-decoration: none; }

body { background: #274961 url("../img/bg.png") repeat fixed; font-family: "Delicious", sans-serif; }
body #container { margin: 1rem; }
body #container #header a { display: inline-block; margin-right: 0.5rem; margin-bottom: 1rem; color: #eee; }
body #container #header a.logo { font-weight: 900; font-size: 3.8rem; }
@media (max-width: 699px) { body #container #header a.logo { display: block; } }
body #container #header a.b { font-size: 1.25rem; }
body #container #header a.b:hover { color: #bbd; }
@media (min-width: 700px) { body #container #content { display: table; table-layout: fixed; width: 100%; } }
body #container #content #col-l { padding: 19px 19px 19px; background: #fff; font-size: 110%; line-height: 1.2; }
@media (min-width: 700px) { body #container #content #col-l { display: table-cell; border-radius: 7px 0 0 7px; height: 400px; } }
@media (max-width: 699px) { body #container #content #col-l { border-radius: 7px; } }
body #container #content #col-l .time { display: inline-block; margin-left: 5pt; }
body #container #content #col-l .post { display: block; margin-right: -19px; margin-bottom: 31px; color: #000; }
body #container #content #col-l .post.image { overflow: hidden; }
body #container #content #col-l .post.image img { display: block; max-width: 100%; margin: 0 auto; }
body #container #content #col-l .post.blog, body #container #content #col-l .post.code, body #container #content #col-l .post.design, body #container #content #col-l .post.image { border-radius: 4px 0 0 4px; }
body #container #content #col-l .post.blog, body #container #content #col-l .post.code, body #container #content #col-l .post.design { padding: 15px 30px 15px 70px; }
body #container #content #col-l .post.image { background: #babaca; }
body #container #content #col-l .post.code { background: #dadada url("../img/icons/code.png") 20px 18px no-repeat; }
body #container #content #col-l .post.blog { background: #cacfff url("../img/icons/blog.png") 20px 18px no-repeat; }
body #container #content #col-l .post.design { background: #dfffda url("../img/icons/design.png") 20px 18px no-repeat; }
body #container #content #col-l .post:last-child { margin-bottom: 0; }
body #container #content #col-l h1, body #container #content #col-l h2, body #container #content #col-l h3 { display: inline-block; font-weight: bold; }
body #container #content #col-l h1 { font-size: 180%; padding: 0 0 17px; margin: -3px 0 0; }
body #container #content #col-l h2 { font-size: 125%; padding-bottom: 2pt; }
body #container #content #col-l h3 { font-size: 110%; }
body #container #content #col-l p { margin-bottom: 1em; }
body #container #content #col-l p + p { text-indent: 1em; }
body #container #content #col-l ul li { margin-left: 1em; margin-bottom: 1em; list-style: square; }
body #container #content #col-l .tags { margin-top: 2em; }
body #container #content #col-l .link { display: block; float: right; }
body #container #content #col-l .pagination { display: inline-block; float: right; text-align: center; }
body #container #content #col-l .pagination a { display: inline-block; margin: 0 auto; padding: 10pt 15pt; }
body #container #content #col-r { padding: 20px; background: #9abbd2 left repeat-y; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 10pt; line-height: 1.2; }
@media (min-width: 700px) { body #container #content #col-r { display: table-cell; border-radius: 0 7px 7px 0; width: 140px; background-image: url("../img/col-r-shadow.png"); }
  body #container #content #col-r > div { position: fixed; top: 7rem; } }
@media (max-width: 699px) { body #container #content #col-r { border-radius: 7px; margin: 20px auto 0; width: 160px; } }
body #container #content #col-r h3 { display: block; padding-bottom: 2pt; font-weight: bold; }
body #container #content #col-r h3:not(:first-child) { padding-top: 7pt; }
body #container #content #col-r .sep { margin-top: 5pt; }
body #container #footer { color: #fff; font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 9pt; }
@media (max-width: 699px) { body #container #footer { text-align: center; } }
body #container #footer a { display: inline-block; padding: 5px 0 0; color: #ace; font-style: italic; }

pre, code, tt { font-family: Consolas, "Liberation Mono", Courier, monospace; }

code, .highlight, .highlighttable { background: #f8f8f8; border-radius: 3pt; border: 1px #cccccc solid; }

code { padding: 1pt 3pt; margin: 0 1pt; font-size: 14px; }

.highlight, .highlighttable { display: block; overflow-x: auto; line-height: 19px; padding: 8pt 12pt; margin-bottom: 1em; }
.highlight code, .highlighttable code { background: none; padding: 0; border: none; font-size: 13px; }

.highlighttable { font-size: 14px; }
.highlighttable code, .highlighttable .highlight { margin: 0; background: none; padding: 0; border: none; font-size: 13px; }
